/*  Для контейнера
    display +
    flex-durection +
    flex-wrap + 
    flex-flow (flex-wrap + flex-durection) +
    justify-content +
    align-items +
    align-content +
*/
/*  Для элемента
    order +
    flex-grow +
    flex-shrink +
    flex-basis +
    flex (flex-grow + flex-shrink + flex-basis) +
    align-self +
*/

body {
    background-color: #a7c5eb; 
    color: white;
}

header {
    background-color: #413c69;
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.block {
    margin-left: 10%;
    width: 80%;
    height: 6682px;
    background-color: #4a47a3;
}

.flexbox {
    display: flex;
    border: 2px solid black;
}

.flex-flow-row-nowrap {
    flex-flow: row nowrap;
    align-content: flex-start;
}

.flex-item1 {
    align-self: flex-start;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 100%;
}

.flex-item2 {
    align-self: center;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 100%;
}

.flex-item3 {
    align-self: flex-end;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 100%;
}

.flex-item4 {
    order: -1;
    flex: 4 1 100%;
}

.flex-direction-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.flex-flow-column-nowrap {
    flex-flow: column nowrap;
    align-content: flex-end;
}

.flex-direction-column {
    flex-direction: column;
    align-items: center;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
    align-items: flex-end;
}